* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 400px;
  margin: 0 auto;
  padding: 0 20px;
  border-radius: 20px;
}

.container:last-child {
  padding-bottom: 20px;
}

.header {
  color: white;
  text-align: center;
  background-image: linear-gradient(to bottom right, #00a3ff, #0665d6);
  height: 80px;
}

.header h1 {
  font-size: 26px;
  font-weight: bolder;
  font-family: "Oxygen", sans-serif;
}

.form {
  width: 100%;
  text-align: center;
  margin: 20px 0px 20px 0px;
  border: 2px solid rgb(100, 100, 100);
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.form input {
  width: 80%;
  margin-left: 10px;
  border: none;
  font-size: 16px;
  padding: 5px 2px;
}

input:focus {
  outline: none;
}

.actions {
  width: 60%;
  display: flex;
  gap: 10px;
}

.actions select {
  width: 60%;
  border-radius: 15px;
  border: none;
  background-color: #7cc6fe;
  color: #1b3022;
  font-weight: bold;
  font-size: 12px;
  padding: 10px;
  transition: background-color 0.3s;
}

select:hover {
  background-color: #199c70d0;
  cursor: pointer;
}

.actions button {
  width: 40%;
  border-radius: 15px;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: #1eae7ed0;
  transition: background-color 0.3s;
}

.actions button:hover {
  background-color: #157253d0;
  cursor: pointer;
}
.clear-btn {
  border-radius: 15px;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 10px 20px;
  background-color: #fe1c1cd0;
  transition: background-color 0.3s;
}

.clear-btn:hover {
  cursor: pointer;
  background-color: #9f1212d0;
}

.flex-all-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 15px;
}

.todo-text {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete-btn:hover {
  cursor: pointer;
}

.sort {
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  background-color: #00a3ff;
  font-weight: bold;
  color: white;
}

.sort:hover {
  cursor: pointer;
  background-color: #0172b4;
}
